---
layout: "base.njk"
---
{% extends "base.njk" %}

{% block extraScripts %}
<script src="https://cdn.snipcart.com/themes/v3.0.0-beta.4.1/default/snipcart.js"></script>
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.0-beta.4.1/default/snipcart.css" />
<div hidden id="snipcart" data-api-key="ZDQzMjE2MTktN2QyZS00MmQ5LThlMWQtMjk5NzVlMTQwNTRhNjM3MDU0NjY1ODY0NTkxOTA3"></div>
{% endblock %}

{% block mainContent %}
<h1>Subscribe here</h1>

<button
    class="snipcart-add-item"
    data-item-id="3"
    data-item-name="Subscription"
    data-item-price="2.99"
    data-item-url="http://webmademag.netlify.com/subscribe"
    data-item-description="Subscription to webMade Magazine"
    data-item-payment-interval="Month" 
    data-item-payment-interval-count="1"
    data-item-payment-trial="0">
        Buy Subscription
</button>
{% endblock mainContent %}
