<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>webMade Magazine</title>

    <link rel="stylesheet" href="/style.css">

    <link href="https://fonts.googleapis.com/css?family=Cinzel|Open+Sans:300&display=swap" rel="stylesheet">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@webMadeMag">
<meta name="twitter:title" content="webMadeMag: Dedicated to the DIY Web">
<meta name="twitter:description" content="An online magazine dedicated to articles, projects and tutorials that help you be a DIY Web builder!">
<meta name="twitter:image" content="https://webmademag.netlify.com/images/twitter-image.png">

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/b673824920c79593fd5da6a2f/d5130ca4c1ce6b78cfc496802.js");</script>

{% block extraScripts %}{% endblock %}

</head>
<body>

{% block mainContent %}
{{ content | safe }}
{% endblock mainContent %}


    <footer class="site-footer">
        &copy; 2019 Code Contemporary, LLC
    </footer>
</body>
</html>

